[Unit]
Description=Daemon systemd for backup weekly server Minecraft

[Service]
Type=oneshot
ExecStart=echo "week" > /tmp/week

[Install]
WantedBy=multi-user.target